:root {
  --global-background-color: #FAFAFC;
  --global-color: #212121;

  --link-background-color: transparent;
  --link-color: var(--global-color);
  --link-hover-background-color: inherit;
  --link-hover-color: #E0E0E0;

  --nac-link-color: inherit;
  --nav-link-hover-background-color: #0E598B;
  --nav-link-hover-color: #FAFAFA;

  --primary-background-color: #909090;
  --primary-color: #121212;

  --secondary-background-color: #787878;
  --secondary-color: #18181B;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--global-background-color);
  color: var(--global-color);
}

a {
  background-color: var(--link-background-color);
  color: var(--link-color);
  vertical-align: baseline;
  text-decoration: none;
}
a:focus,
a:hover {
  background-color: var(--link-hover-background-color);
  color: var(--link-hover-color);
  text-decoration-color: var(--link-hover-color);
}

hr {
  border: .125rem solid #121212;
  max-width: 10rem;
  margin: 1rem auto;
  opacity: 1 !important;
}

header {
  background-color: #9C9C9C;
}

nav ul a {
  color: var(--nav-link-color) !important;
  padding: .5rem .75rem;
}
nav ul a:hover,
nav ul a:focus {
  background-color: var(--nav-link-hover-background-color) !important;
  color: var(--nav-link-hover-color) !important;
}

.me-auto {
  margin-right: auto !important;
}

.logo {
  height: 3rem;
}

.primary-content {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

.primary-content hr {
  border-color: var(--primary-color);
}

.secondary-content {
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
}

.secondary-content hr {
  border-color: var(--secondary-color);
}
